.add-product {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
	color: var(--default, #353535);
	font-family: Roboto;
	font-style: normal;
	line-height: normal;
}
